* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button,
input[type="text"] {
  padding: 5px;
}

h4:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  display: block;
  color: grey;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 15px;
}
